[Desktop Entry]
Name=Palpite Milionário
Comment=Gerador de palpites para loterias brasileiras
Exec=palpite-milionario
Icon=io.github.surdo64.palpite-milionario
Terminal=false
Type=Application
Categories=Utility;Game;
Keywords=loteria;palpite;mega-sena;
StartupWMClass=Palpite Milionário
